<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>FGOストーリーガチャ</title>
</head>

<body>

	<p>
		<table>
			<tr>
				{% for fimageurl in fimgurl %}
					<td>
						<img src="{{fimageurl}}" width="150">
					</td>
				{% endfor %}
			</tr>
		</table>

		<table>
			<tr>
				{% for simageurl in simgurl %}
					<td>
						<img src="{{simageurl}}" width="150">
					</td>
				{% endfor %}
			</tr>
		</table>
	</p>

	<br>
		<button>test</button>
	</br>

</body>
</html>
