<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>FGOストーリーガチャ</title>

	<script type="text/javascript">
		function Button_Click() {
			window.location.reload();
		}
	</script>

</head>

<body>

	<p>
		<table>
			<tr>
				{% for fimageurl in fimgurl %}
					<td>
						<img src="{{fimageurl}}" width="150">
					</td>
				{% endfor %}
			</tr>
		</table>

		<table>
			<tr>
				{% for simageurl in simgurl %}
					<td>
						<img src="{{simageurl}}" width="150">
					</td>
				{% endfor %}
			</tr>
		</table>
	</p>

	<br>
		<input type="button" value="10連引く" onclick="Button_Click();" style="WIDTH: 770px; HEIGHT: 40px">
	</br>

</body>
</html>
